$background: #fff;
$purple: #7c3f99;
$purple-dark: #331d5e;
$pink: #e83a9a;
$red: red;
$green: #1da41a;
$green-light: #71D271;
$green-dark: #086B08;
$green-hover: #1A4B15;
$text-color: #000;

$font-family: 'PlainScriptCTT_Normal', 'Aria', sans-serif;
$font-family-text: 'SegoeUIRegular', 'Aria', sans-serif;
$font-family-text-bold: 'SegoeUIBold', 'Aria', sans-serif;
$font-family-logo: 'SegoeScriptNormal', 'Aria', sans-serif;

$transition-time: 0.7s;
$transition-time-move: 0.4s;

$lg: 1200px;
$ipad: 1024px;
$md: 992px;
$sm: 768px;
$xm: 480px;
$iphone: 414px;
$nexus: 412px;
$mw: 360px;


$html-fsize: 18;
$h1: (66/$html-fsize);
$h2: (42/$html-fsize);
$h3: (26/$html-fsize);
$h4: (23/$html-fsize);
$h5: 1;