@import "_variables.scss";
html,body{
	min-height: 100vh;
	// position: relative;
	background-color: $purple;
}

#auth_block{
	min-height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	form{
		display: block;
		padding: 2em;
		width: 30%;
		border: 4px solid rgba(246, 71, 167, 0.5);
		border-radius: 4px;

		.row{
			text-align: center;
			font-size: (18/($html_fsize))+rem;
			a{color: #fff}
			input{
				padding: 0 0.5em;
				background-color: #fff;
				border: 2px solid rgba(246, 71, 167, 0.5);
			}
		}
	}
}

@media screen and(max-width: 1020px){
	#auth_block{
		form{
			width: 40%;
		}
	}
}

@media screen and(max-width: 767px){
	#auth_block{
		form{
			width: 50%;
		}
	}
}

@media screen and(max-width: 500px){
	#auth_block{
		form{
			width: 90%;
		}
	}
}




header{
	.container{
		background-color: #fff;
		h3, form, p{
			display: inline-block;
		}
		p{
			margin-left: 1em;
			font-size: (22/$html_fsize)+rem;
		}
		#btn{
			float: right;
			margin-top: 20px;
			font-size: (22/$html_fsize)+rem;
			a, input{
				display: inline-block;
				background-color: transparent;
				border: none;
				color: $purple;
				transition: color 0.4s;
			}
			a:hover, input:hover{
				text-decoration: none;
				color: $pink;
			}
		}
	}
}

main{
	.block{
		margin-top: 1em;
		.container{
			border-radius: 4px;
			background-color: #fff;
			h2,h3,h4{text-align: center; color: $purple}
			form{
				padding: 1em;
				.btn{
					background-color: $purple; 
					color: #ddd;
					transition: background-color 0.4s;
				}
				.btn:hover{
					background-color: $pink; 
					color: #ddd;
				}
			}
		}
	}
}


footer{
	.block{
		margin-top: 0.8em;
		font-size: (22/$html_fsize)+rem;
		.container{
			padding: 1em;
			background-color: #fff;
			#copy{
				text-align: center;
			}
		}
	}
}